.body{
    height: 500px;
    width: 400px;
    border-radius: 10px;
    background-color: white;
}
.img{
    height: 250px;
    width: 100%; 
    border: 1px solid transparent;
    background-image: url('../assets/pozadina.jpg');
    background-position: top;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
}
/*
    background-image: url(/public/images/pic1.jpg);
*/
.circle{
    background-color:#323848;
    margin: 20px 0 0 330px;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 13px;
}
.underimage{
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
}
.text{
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0 20px;
    height: 180px;
    width: 100%;
}
.header{
    font-size: 25px;
    font-weight: bold;
}
.description{
    font-size: 18px;
    color: grey;
}
.itemtext{
    margin: 0 0 20px 20px;
}
.itemdiv{
    display: flex;
    padding: 0 0 0 20px;
}
.itemimg{
    width: 30px;
    height: 30px;
    background-image: url(/public/images/pic1.jpg);
}
.square{
    width: 120px;
    background-color: #323848;
    height: 30px;
    margin-top: 149px;
    border-radius: 0px 10px 0px 0px ;
}